

.modulos-admin {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.modulo-card {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.7rem 1rem;
  background-color: #f5f5f5;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease;
}

.modulo-card:hover {
  background-color: #e0e0e0;
}

.modulo-card .material-icons {
  font-size: 1.5rem;
  color: #444;
}


.lista-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.lista-tipo-documento {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}



.tipo-doc-item {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.75rem 1rem;
  margin-bottom: 0.8rem;
  cursor: pointer;
  transition: background 0.2s, box-shadow 0.2s;
}

.tipo-doc-item:hover {
  background: #f1f1f1;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.06);
}

.tipo-doc-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.4rem;
}

.tipo-doc-nombre {
  font-weight: 600;
  color: #333;
}

.tipo-doc-id {
  font-size: 0.85rem;
  color: #888;
}

.tipo-doc-detalles-linea {
  display: flex;
  gap: 1rem;
  font-size: 0.85rem;
  color: #555;
  flex-wrap: wrap;
  align-items: center;
}

.tipo-doc-item.inactivo {
  opacity: 0.6;
  filter: grayscale(0.5);
  background-color: #f9f9f9;
  position: relative;
}
.tipo-doc-item.inactivo:hover {
  background: #dbdada;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}


/* Opcional: etiqueta visual */
.tipo-doc-item.inactivo::after {
  content: 'Inactivo';
  position: absolute;
  bottom: 8px;
  right: 15px;
  background: #e74c3c;
  color: white;
  padding: 2px 6px;
  font-size: 0.7rem;
  border-radius: 3px;
  font-weight: bold;
}


.permisos-colapsable {
  margin-top: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: #f9f9f9;
}

.permisos-colapsable summary {
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

#permisos-por-rol-container {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
}


.estado-requerido-add-wrapper {
  margin-top: 0.5rem;
  text-align: right;
}


.btn-agregar-estado:hover {
  background-color: var(--color-primario-hover);
}











