.atencion-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: var(--color-surface);
  padding: 1rem;
  border-bottom: 1px solid var(--color-borde-suave);
}

.atencion-info {
  font-size: 0.9rem;
  color: var(--color-texto);
  line-height: 1.4;
}

.btn-secundario {
  background: none;
  border: 1px solid var(--color-borde-oscuro);
  padding: 0.3rem 0.7rem;
  font-size: 0.9rem;
  cursor: pointer;
  color: var(--color-text-dark);
  border-radius: 4px;
}

.btn-secundario:hover {
  background-color: var(--color-surface-tertiary);
}

#panel-cabecera-atencion button + button {
  margin-left: 0.5rem;
}

/* Cabecera relativa para ubicar botón flotante */
.atencion-header {
  position: relative;
  padding: 1rem;
  background-color: var(--color-surface);
  border-bottom: 1px solid var(--color-borde-suave);
  margin-bottom: 1rem;
}

/* Botón cerrar en esquina superior derecha */
.btn-cerrar-atencion {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  background: none;
  border: none;
  font-size: 1.4rem;
  color: var(--color-text-muted);
  cursor: pointer;
}

.btn-cerrar-atencion:hover {
  color: var(--color-negro);
}

/* Botón cerrar en esquina superior derecha */
.btn-anular-atencion {
  position: absolute;
  bottom: 0.75rem;
  right: 0.75rem;
  background: none;
  border: none;
  font-size: 1.4rem;
  color: var(--color-text-muted);
  cursor: pointer;
}
.btn-anular-atencion:hover {
  color: var(--color-danger-dark);
}

/* Contenedor botón avanzar */
.contenedor-avanzar {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid var(--color-borde-claro);
  gap:25px
}

.btn-avanzar {
  background-color: var(--color-primario);
  color: var(--color-blanco);
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 0.9rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
}

.btn-avanzar:hover {
  background-color: var(--color-primario-dark);
}
.btn-salida {
  background-color: var(--color-warning-alt);
  color: var(--color-blanco);
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 0.9rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
}

.btn-salida:hover {
  background-color: var(--color-warning-dark);
}

#obs-cambio-estado{
  width: 360px;
  font-size: 17px;
}
#obs-cierre-atencion{
  width: 360px;
  font-size: 17px;
}