 .filtro-lista {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        margin-bottom: 1rem;
      }

.filtro-lista  input,
.filtro-lista  select {
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filtro-lista  button {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}