/* Estilos para el agrupador de ListaAtenciones (AgrupadorSelect) */


.agrupador-atenciones {
  
}
.btn-right-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#btnNuevaAtencion{
      height: 35px;
    padding: 0px 2px;
    width: 150px;
}
.agrupador-atenciones label {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  font-size: 11px;
}

#agrupador-select {
  padding: 0.2rem 0.45rem;
  border-radius: 5px;
  border: 1px solid #cfd8dc;
  font-size: 1rem;
  background: #fff;
  transition: border-color 0.2s;
}

#agrupador-select:focus {
  border-color: #1976d2;
  outline: none;
}

/* Se removieron las clases .atencion-item de aquí para evitar conflictos con estilos.css */
.atencion-item-correcciones {
  border-left: 3px solid #ff9800 !important;
}
/*Atencion View*/
#estadoyTipoContainer{
  display: flex;
  gap: 15px;

}
.paciente-nombre-view {
    font-weight: bold;
    color: var(--color-primario-hover);
}
.extra-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
#correcciones-pendientes{
  color: #ec8e00dc;
}
#btn-importar-id{
  margin-left: 10px;
}